<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin.css">

</head>
<body>



    
    <div class="logoContainer">
            <img src="/images/htulogo.png" alt="">
    </div>

    <div class="leftStripe"></div>
    <div class="leftStripe"></div>


    <div class="leftContainer">
        <div class="innerLeftContainer">
            <h1 id="options" class="options ">Instructors</h1>
            <h1 id="options" class="options ">Questions</h1>
            <h1 id="options" class="options ">Students</h1>
            <h1 id="options" class="options ">Time Frame</h1>

        </div>
    </div>

    
    <div class="rightContainer">
        <div class="innerRightContainer">

            <!-- <div class="timeFrameBody">
                <form action= '/<%=id%>/setTimeFrame' method="POST">
                    <div class="startDate">
                        <label for="startDate">Set starting date: </label>
                        <input type="date" id="startDate" name="startDate" required>
                    </div>
                    <div class="endDate">
                        <label for="endDate">Set ending date: </label>
                        <input type="date" id="endDate" name="endDate" required>
                    </div>
                    <div class="startTime">
                        <label for="startTime">Set starting time: </label>
                        <input type="time" id="startTime" name="startTime" required>
                    </div>
                    <div class="endTime">
                        <label for="endTime">Set ending Time: </label>
                        <input type="time" id="endTime" name="endTime" required>
                    </div>
                    <div class="startAcadYear">
                        <label for="startAcadYear">Set starting Academic Year: </label>
                        <input type="number" id="startAcadYear" name="startAcadYear" min="2023" max="2200" required>
                    </div>
                    <div class="endAcadYear">
                        <label for="endTime">Set ending Academic Year: </label>
                        <input type="number" id="endAcadYear" name="endAcadYear" min="2023" max="2200" required>

                    </div>
                    <div class="sem">
                        <label for="sem">Select which semester: </label>
                        <select name="sem" id="sem">
                            <option value="1st">1st</option>
                            <option value="2nd">2nd</option>
                            <option value="3rd">3rd</option>
                        </select>
                    </div>
                    <div class="timeFrameButtonContainer">
                        <button type="submit">Save</button>
                        </form>
                    </div>
                        <button id="timeFrameCancel">cancel</button>
            </div> -->
              

        </div>
    </div>
    <div class="rightStripe"></div>
    <div class="rightStripe2"></div>

<!--     <div class="addTeacherModal">
        <div class="modalBackground"></div>
        <div class="addTeacherForm">
            <h1>meow meow</h1>
        </div>
    </div> -->


   

   
    
</body>
<script src="/js/admin.js"></script>

</html>







<!-- <div class="modalUpdate">
        <div class="modalBackground"></div>
        <div class="modalUpdateForm">
            <p>Update Information</p>
            <div class="updateInfoContainer">
                <div class="pictureContainer">
                    <div class="picture">
                        <div class="innerPicture">
                            <img src="/images/diosoban.jpg" alt="">
                        </div>
                        
                    </div>
                    <div class="inputPicture">
                        <input type="file">
                    </div>
                   
                </div>
                <div class="inputsContainer">

                    <input type="text" placeholder="Firstname" name="firstname">
                    <input type="text" placeholder="Lastname" name="lastname">
                    <input type="text" placeholder="Age" name="age">
                    <input type="text" placeholder="Address" name="address">
                    <select name="department" id="">
                        <option value="">SELECT DEPARTMENT</option>
                        <option value="CET">CET</option>
                    </select>
                </div>
            </div>
            <div class="updateButtonContainer">
                <button>Save</button>
            </div>
        </div>
    </div> -->








<!-- <div class="eachTeacherContainer">
                <div class="teacherIconContainer">
                    <img src="/images/diosoban.jpg" alt="">
                </div>
                <div class="teacherInfoContainer">
                    <span id="firstname"><b>Firstname:</b> Alexis</span>
                    <span id="lastname"><b>Lastname:</b> Diosoban</span>
                    <span id="age"><b>Age:</b> 27</span>
                    <span id="address"><b>Address:</b> Bgy. San Pedro, Puerto Princesa City, Palawan</span>

                </div>
                <div class="teacherOptionsContainer">
                    <div class="updateIcon">
                        <img src="/images/updateIcon.svg" alt="">
                    </div>
                    <div class="removeIcon">
                        <img src="/images/removeIcon.svg" alt="">

                    </div>
                </div>
            </div>
 -->






<!-- <div class="modalUpdate modalHidden">
        <div class="modalBackground"></div>
        <div class="modalUpdateForm">
            <p>Update Information for Alexis</p>
            <div class="exitBtnModalUpdate">+</div>
            <div class="modalUpdateTeacherIconContainer">
                <div class="modalUpdateImgContainer">
                    <img src="/images/gayutin.jpg" alt="">
                </div>
                <div class="modalUpdateImgInputContainer">
                    <input type="file">
                </div>
            </div>
            <div class="modalUpdateTeacherInformationContainer">
                <div class="modalUpdateInformationInputContainer">
                    <div class="">
                        <label for="">Firstname:</label>
                        <input type="text">
                    </div>
                    <div class="">
                        <label for="">Lastname:</label>
                        <input type="text">
                    </div>
                    <div class="">
                        <label for="">Age:</label>
                        <input type="text">
                    </div>
                    <div class="">
                        <label for="">Address:</label>
                        <input type="text">
                    </div>
                </div>
                <div class="modalUpdateTeacherInformationButtonsContainer">
                    <button>Cancel</button>
                    <button>Save</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modalRemove modalHidden">
        <div class="modalBackground"></div>
        <div class="modalRemoveForm">
            <div class="modalRemoveTextsContainer"><p>Are you sure you are going to remove Alexis?</p></div>
            <div class="modalRemoveButtonsContainer">
                <button id="confirmRemoveNo">No</button>
                <button id="confirmRemoveYes">Yes</button>

            </div>
            <div class="exitBtnModalUpdate">+</div>


        </div>
    </div> -->