<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/guidance.css">
</head>

<body>
    <div class="leftStripe"></div>
    <div class="leftStripe"></div>

    <div class="innerContainer">
        <div class="settingsContainer">
            <div class="departmentSelectContainer">
                <label for="departmentSelect">Department:</label>
                <select id="departmentSelect">
                    <option value="">SELECT DEPARTMENT</option>
                    <option value="CET">CET</option>
                    <option value="CBA">CBA</option>
                    <option value="CEAA">CEAA</option>
                    <option value="CHM">CHM</option>
                    <option value="CNHS">CNHS</option>
                    <option value="CCJE">CCJE</option>
                </select>
            </div>

            <div class="acadYearSelectContainer">
                <label for="">Academic Year: </label>
                <select name="" id="acadYearSelect">
                    
                </select>
            </div>

            <div class="semSelectContainer">
                <label for="">Semester: </label>
                <select name="" id="semesterSelect">


                </select>
            </div>

            <!-- <div class="teachersSelectContainer">
                <label for="">Teacher: </label>
                <select name="" id="guidanceTeacherSelect"></select>
            </div>

            <div class="acadYearSelectContainer">
                <label for="">Academic Year: </label>
                <select name="" id="guidanceAcadYearSelect"></select>
            </div> -->
           <!--  <div class="acadYearSelectContainer">
                <label for="">Academic Year: </label>
                <select name="" id="guidanceAcadYearSelect"></select>
            </div>

            <div class="semesterSelectContainer">
                <label for="">Semester:</label>
                <select name="" id="guidanceSemesterSelect"></select>

            </div> -->
        </div>
        <div class="contentsContainer">
          <!-- <div class="eachTeacher">
            <span>Daniel Canoy</span>
            <span>CET</span>
            <span>ITIF 202 ITAM 204</span>
            <span>Evaluated By: 205 students</span>
          </div> -->
       

        </div>
    </div>

    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="errorMessage"></p>
        </div>
    </div>

    <div class="rightStripe"></div>
    <div class="rightStripe2"></div>
    <script src="/js/guidance.js"></script>
</body>

</html>