<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/guidance.css">
</head>

<body>
    <div class="leftStripe"></div>
    <div class="leftStripe"></div>

    <div class="innerContainer">
        <div class="settingsContainer">
            <div class="departmentSelectContainer">
                <label for="departmentSelect">Department:</label>
                <select id="departmentSelect">
                    <option value="">SELECT DEPARTMENT</option>
                    <option value="CET">CET</option>
                    <option value="CBA">CBA</option>
                    <option value="CEAA">CEAA</option>
                    <option value="CHM">CHM</option>
                    <option value="CNHS">CNHS</option>
                    <option value="CCJE">CCJE</option>
                </select>
            </div>

            <div class="teachersSelectContainer"></div>
        </div>
        <div class="contentsContainer"></div>
    </div>
    <div class="rightStripe"></div>
    <div class="rightStripe2"></div>
    <script src="/js/guidance.js"></script>
</body>

</html>