<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="../setpassword.css">
    <body>
        
            <form action="/<%=foundAcc._id%>/setpassword" method="POST" class="form" class="form"> 
                <div class="h1Container">
                    <h1>Set Password</h1>
                </div>
                <div class="inputContainer">
                <input type="text" name="studentId"
                    value="<%= foundAcc ? (foundAcc.studentID || foundAcc.facultyID) : '' %>" disabled="true">
                <input type="password" name="password" placeholder="password">
                <input type="password" name="confirmpassword" placeholder="confirm password">
                </div>
                <div class="buttonContainer">
                    <button>Save</button>
                </div>
            </form>
        
    </body>

    </html>