<!DOCTYPE html>
<html>

<head>
    <title>Upload Students</title>
</head>

<body>
    <h1>Upload Students Spreadsheet</h1>
    <div class="uploadFile">
        <form ref='uploadForm' id='uploadForm' action='/uploadTest' method='post' encType="multipart/form-data">
            <input type="file" name="studentFile" />
            <input type='submit' value='Upload!' />
        </form>
    </div>
</body>

</html>