* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: white;
    display: flex;
}


.formBody {
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.leftStripe {
    height: 400px;
    width: 50px;
    background-color: #a81e22;
    position: absolute;
    transform: rotate(140deg);
    bottom: -150px;
}

.leftStripe:nth-of-type(2) {
    bottom: -170px;
    height: 700px;
}

.rightStripe {
    height: 400px;
    width: 50px;
    background-color: #f8d30a;
    position: absolute;
    transform: rotate(140deg);
    top: -150px;
    right: 0;
}

.rightStripe2 {
    height: 400px;
    width: 50px;
    background-color: #f8d30a;
    position: absolute;
    transform: rotate(140deg);
    right: 0;
    top: -170px;
    height: 700px;
}


.mainForm {
    width: 90%;
    height: 90%;
    background-color: white;
    border: 3px solid black;
    margin: 50px auto;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .4);
    overflow-y: scroll;
    overflow-x: hidden;
}
.mainForm form{
    margin-left: 40px;
}

.questionCategoryContainer{
    margin: 5% 0;
    width: 90% ;
    height: auto;
    border: 2px solid black;
    padding: 10px 0;
    border-radius: 5px;
}
.questionCategoryName{
    margin: 2%;
    border-bottom: 1px solid black;
}
.questionCategoryName span{
    margin-left: 10px;
    font-size: 18px;
    font-weight: bolder;
}
.questionsContainer{
    width: 90%;
    height: 30px;
    margin: 10px auto;
    height: auto;
    border-bottom: 1px solid;

}

.questionText{
    font-size: 15px;
    font-weight: 300;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.questionText span{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.questionRadio{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}
.radioContainer{
    width: 40px;
    margin: 5px;
}
.radioContainer label{
    margin-right: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.radioContainer input{
    transform: scale(1.5);
}

.submitButton{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    position: fixed;
    display: flex;
    justify-content: center ;
    align-items: center;
    cursor: pointer;
    right: 750px;
    bottom: 20px;
    transition: all .15s;
}
.submitButton button{
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #43793a;
    border: 0;
    font-size: 18px;
}

.submitButton:hover{
    transform: translateY(-3px);
}

 #review-modal {
     display: none;
     position: fixed;
     z-index: 1000;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 500px;
     height: 95vh;
     background-color: white;
     border: 1px solid #ccc;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
     overflow-y: hidden;
     padding: 20px;
 }
 #review-modal h2{
    text-align: center;
 }

 #review-answers{
    margin-top: 10px;
    height: 750px;
    overflow-y: scroll;
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px;
 }

 #review-answers div{
    margin-bottom: 20px;
    border-bottom: 1px solid black;
 }

 .modal-buttons {
     display: flex;
     justify-content: space-around;
     margin-top: 10px;
 }

 .modal-buttons button {
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
     border: 1px solid black;
 }

 #cancel-btn{
    background-color: rgba(168, 30, 34, 0.8);
    color: white
 }
#confirm-btn{
    background-color: rgba(67, 121, 58, 0.9);

       
}




@media(min-width:600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .formBody {
        width: 500px;
        height: 100%;
        box-shadow: 0 0 100px rgba(0, 0, 0, .9);

    }
}

button:disabled {
    background-color: #cccccc;
    /* Light gray background */
    color: #666666;
    /* Dark gray text */
    cursor: not-allowed;
    /* Change cursor to indicate it's not clickable */
    opacity: 0.6;
    /* Optional: make the button semi-transparent */
}